# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.TwoDaysNewProgrammingLangue.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ravne\RiderProjects\TwoDaysNewProgrammingLangue\.idea\.idea.TwoDaysNewProgrammingLangue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
